	<div class="container p-5">
					<div class="row">
						<div class="col-lg-4 d-flex flex-column">
							<h3 class="h3 mb-4"><strong>UP ACM</strong></h3>

							<div class="row">
								<div class="col-md-6">
									<a href="http://upacm.net/about">About</a>
									<a href="http://upacm.net/#events">Events</a>
									<a href="#">Committees</a>
								</div>
								<div class="col-md-6">
									<a href="#">Partners</a>
									<a href="http://upacm.net/privacy-policy">Privacy Policy</a>
									<a href="http://upacm.net/automaton">Automaton</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<h3 class="h3 mb-4"><strong>Contact Us</strong></h3>

							<p><a href="mailto:council@upacm.net"><i class="fas fa-envelope mr-2"></i> <span class="footer-mail"></span></a></p>

							<p><i class="fas fa-mobile-alt mr-3"></i> <span class="footer-mobile"></span></p>

							<p><i class="fas fa-map-marker mr-3"></i>
							<span class="footer-address"></span></p>
						</div>
						<div class="col-lg-4">
							<h3 class="h3 mb-4"><strong>Connect with Us!</strong></h3>

							<div class="d-flex">
								<a href="https://www.facebook.com/upacm/" class="social-media-button"><i class="m-auto fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/upacm" class="social-media-button ml-2"><i class="m-auto fab fa-twitter"></i></a>
								<a href="https: ph.linkedin.com/company/upacm" class="social-media-button ml-2"><i class="m-auto fab fa-linkedin-in"></i></a>
								<a href="https://www.youtube.com/user/upacmYT" class="social-media-button ml-2"><i class="m-auto fab fa-youtube"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="copyright w-100 p-4" style="background-color: #003f76;">
					<div class="container text-center">
						© <span class="curr-date">2019</span> - Association for Computing Machinery University of the Philippines Diliman Student Chapter Inc.
					</div>
				</div>