	<div class="position-absolute d-none d-lg-flex footer-scrollup fadestart">
		<div class="m-auto d-flex circle">
			<i class="fas fa-long-arrow-alt-up m-auto"></i>
		</div>
	</div>

	<div class="container pb-5 pt-4">
		<div class="row fadestart">
			<div class="col-lg-4 d-flex flex-column p-3">

				<h3 class="h3 mb-4"><strong>UP ACM</strong></h3>

				<div class="d-flex">
					<div class="d-flex flex-column mr-5">
						<a href="http://upacm.net/about">About</a>
						<a href="#events" class="footer-event-link">Events</a>
						<a href="#">Committees</a>
					</div>
					<div class="d-flex flex-column">
						<a href="#partners" class="partners-event-link">Partners</a>
						<a href="./privacy-policy">Privacy Policy</a>
						<a href="./automaton">Automaton</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 my-3 my-lg-0 p-3 contact-us">
				<h3 class="h3 mb-4"><strong>Contact Us</strong></h3>


				<p><i class="fas fa-envelope"></i><a href="#mailto" class="footer-mail"></a></p>

				<p><i class="fas fa-mobile-alt"></i><span class="footer-mobile"></span></p>

				<div class="d-flex">
					<div class="h-100"><i class="fas fa-map-marker d-inline-block p-0"></i></div>
					<div class="d-inline-block p-0"><a class="footer-address" href="#"> </a></div>
				</div>
			</div>
			<div class="col-lg-4 p-3">
				<h3 class="h3 mb-4"><strong>Connect with Us!</strong></h3>

				<div class="d-flex">
					<a href="https://www.facebook.com/upacm/" class="social-media-button"><i class="m-auto fab fa-facebook-f"></i></a>
					<a href="https://twitter.com/upacm" class="social-media-button ml-2"><i class="m-auto fab fa-twitter"></i></a>
					<a href="https: ph.linkedin.com/company/upacm" class="social-media-button ml-2"><i class="m-auto fab fa-linkedin-in"></i></a>
					<a href="https://www.youtube.com/user/upacmYT" class="social-media-button ml-2"><i class="m-auto fab fa-youtube"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="copyright w-100 p-4">
		<div class="container text-center fadestart">
			© <span class="curr-date">2019</span> Association for Computing Machinery - University of the Philippines Diliman Student Chapter Inc.
		</div>
	</div>