<div class="py-3 bg">
	<div class="container">
		<div class="d-flex flex-lg-row">
			<a href="./index">
				<div  style="height:48px" class="d-flex logo">
					<img src="logo_white.png" height="35px" class="my-auto">
				</div>
			</a>

			<span class="ml-auto my-auto d-lg-none d-block h3 burger mr-1">
				<i class="fas fa-bars"></i>
			</span>

			<div class="ml-lg-auto d-lg-inline-flex flex-column flex-lg-row mobile-menu" >
				<a class="mr-3 my-lg-auto nav-about d-block my-3" href="./about"><i class="fas fa-question d-lg-none menu-icon"></i> About Us</a>
				<a class="mr-3 my-lg-auto nav-committees d-block my-3" href="./committees"><i class="fas fa-users d-lg-none menu-icon"></i>Committees</a>
				<a class="my-lg-auto nav-contact d-block my-3" href="#"><i class="fas fa-mobile-alt d-lg-none menu-icon"></i>Contact</a>
			</div>
		</div>
	</div>
</div>